body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calc{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 250px;
    border-radius: 10%;
    margin-top: 30px;
}

.entry{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    font-size: 24px;
    font-family: serif;
    margin-top: 30px;
}

.line1{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.line2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.line3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.line4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 113, 8);
    color: white;
    height: 60px;
    width: 40px;
    margin-right: 7px;
    font-weight: bold;
    transition: background-color 5ms linear;
}

.key:active {
    background-color: gold;
  }