body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.entry{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 40px;
    width: 500px;
    font-size: 24px;
    font-family: serif;
    margin-top: 30px;
}

.line1{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.line2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.line3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.line4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: white;
    height: 60px;
    width: 40px;
    margin-right: 7px;
    /*transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;*/
}

/*.key:click{
    height: 70px;
}*/